html {
    background-color: #f8f8f8f8;
}

header, h2, #mockStart {
    text-align: center;
}

header h1 {
    font-size: 42px;
    text-align:center;
    margin-bottom: 12px;
}

p {
    font-size: 18px;
}

label {
    margin-bottom: 30px;
    font-size: 25px;
    display: block;
}

textarea {
    position: relative;
    display: block;
    margin-bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 20px;
    border: 1px solid lightskyblue;
    border-radius: 8px;
}

button {
    padding: 15px 25px 15px 25px;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
}

#mockInterview {
    text-align: center;
}

#userResponse {
    height: 150px;
    width: 75%;
}

#interviewAvatar {
    display: inline;
    max-height: 75px;
    max-width: 75px;
    transform: translateY(30px);
}

#interviewQuestion {
    padding: 20px;
    border: 2px solid purple;
    border-radius: 8px;
    transform: translateY(-50%);
}

.response {
    padding: 20px;
    border: 2px solid lightskyblue;
    border-radius: 8px;
}

.center {
    text-align: center;
}

.hide {
    display: none;
}

:focus {
    border-radius: 8px;
}